<div class="jumbotron">
  <h1 class="display-4">Welcome to MonsterShop</h1>
  <p class="lead">Buy things now!</p>
  <hr class="my-4">
  <p>Take a look at our high quality items</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/items" role="button">Browse Items</a>
  </p>
</div>
